 p{background-color: blue;
    color:aliceblue
}
a{
    color: black;
    
}
h1{
    color: #000000;
}
h2{
    color: blue;
}
#titulo-master{
    color: red;
}
.colorido{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
span{color:rgb(255, 255, 255)};
